header input,
header select {
  padding: 10px;
  margin: 8px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}

header input {
  width: 250px;
}

header button {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
